/* style du body commun à toutes les pages */
body {
  padding: 5em 5em;
  max-width: none;
  min-width: none;
  background-color: #f2f2f2; /*blanc creme*/
  margin: auto;
  text-align: justify;
  font-family: fantasy;
}
