header.header {
  position: fixed;
  left : 0px;
  top : 0px;
  height: 100px;
  width: 100%;
  font-family: sans-serif;
  background-color: grey;
  color: white;
  display: flex;
  flex-flow: row nowrap;
}

header.header div.vertical {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

header.header img {
  height: 100px;
}

header.header div.center {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

header.header h1 {
  margin: 0;
  font-size: 1.5em;
}

header.header ul {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

header.header ul a {
  text-decoration: none;
  white-space: nowrap;
  color: chartreuse;
}
