 #meuble {

}

#description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

#transaction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

#description>aside {
    flex-grow: 1;
    text-align: center;
}
