article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    border-top: solid 1px;
}

body {
    width: 80%;
    margin: auto;
}

h3 {
    background-color: green;
    color: white;
}

a {
    text-decoration: none;
}

a#boutonpanier {
    display: block;
    background-color: lightgreen;
    border-radius: 10px;
    color: black;
}

div#photo {
    background-color: lightgreen;
    width : 10%;
}

div#descriptionMeubleGalerie {
    flex-grow: 1;
}
